@import "tailwindcss";

@layer utilites{
  .animation-in{
    animation-fill-mode: both;
  }

  .slide-in-from-top{
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom{
    animation-name: slideInFromBottom;
  }

  .duration-200{
    animation-duration: 200ms;
  }

  .duration-300{
    animation-duration: 300ms;
  }

  .duration-700{
    animation-duration: 700ms;
  }

  .delay-100{
    animation-delay: 100ms;
  }
}

@keyframes slideInFromBottom {
  from{
    opacity: 0;
    transform: translate(1rem);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from{
    opacity: 0;
    transform: translate(-1rem);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}